.git
.github
.turbo
**/.turbo
**/node_modules
**/dist
**/coverage
**/.next
**/tmp
deploy-test

apps/pos
apps/qoondeeye-pharmacy
packages/eslint-config
packages/types
packages/utils

.env
.env.*
!.env.example
